@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html{box-sizing: border-box;} ::before,*::after{box-sizing: inherit;}

*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html, body 
{ 
 height: 100vh;
 overflow-x: hidden
}

.cabecalho {
    padding: 1rem;
    display: flex;
    justify-content: center;
}
  
.navbar-menu {
    padding: 0; /* Remove o preenchimento padrão */
    margin: 0; /* Remove a margem padrão */
    display: flex;
    gap: 6rem;
}
  
.navbar-item {
    margin: 0 0.5rem;
    font-family: 'Poppins';
    font-size: 1.3rem;
    color: #ffffff; /* Define a cor das letras como branca */
}

.navbar-item a {
    color: inherit; /* Herda a cor definida em .navbar-item */
}

.navbar-item a:hover {
    color: #FD6636;
}

.navbar{
    position: relative;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: top center; 
    height: 100vh; 
    max-width: 100%;
    padding: 0; 
    border: none; 
    margin: 0;
   }