.static-stores {
  color: #228b22;
  font-size: clamp(1rem, 10vw, 4rem);
}

.static2 {
  color: white;
  font-size: clamp(1rem, 10vw, 4rem);
  margin-top: 10%;
  font-family: "Aclonica";
}

.static2-stores {
  color: white;
  font-size: clamp(1rem, 10vw, 4rem);
  margin-top: 19%;
  font-family: "Aclonica";
}
